.orders {
  background-color: #fcfcfc;
  border: 1px solid #eff0f6;
  padding: 30px;
  border-radius: 20px;
  h3 {
    font-size: 24px;
    font-weight: 700;
    color: #4e4b66;
  }
  .list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    padding: 10px 0px;
  }
}
